@model EntityLayerr.Concrete.Heading

@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("EditPanelHeading", "WriterPanelDüzenleme", FormMethod.Post))
{
    <div class="form-group">
 
        @Html.HiddenFor(x => x.HeadingiD)      
        @Html.HiddenFor(x => x.HeadingDate)      
        @Html.HiddenFor(x => x.WriteriD)      
        @Html.Label("Baslık ADı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />
      
        @Html.Label("Kategori ")
        @Html.DropDownListFor(x => x.CategoryiD, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Güncelle</button>
    </div>

}

