@model EntityLayerr.Concrete.Heading

@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Baslık Güncelleme Sayfası</h2>


@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Baslık ID")
        @Html.TextBoxFor(x => x.HeadingiD, new { @class = "form-control" })
        <br />
        @Html.Label("Baslık ADı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />
        @Html.Label("Tarih")
        @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control" })
        <br />
        @Html.Label("Yazar ID")
        @Html.TextBoxFor(x => x.WriteriD, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori ")
        @Html.DropDownListFor(x => x.CategoryiD, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Güncelle</button>
    </div>

}