@model EntityLayerr.Concrete.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 style="margin-left:575px;">Yeni Kategori Sayfası</h3>

<br />

@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })

        <br />
        @Html.Label("Şifreyi Girin")
        @Html.TextBoxFor(x => x.AdmibPassword, new { @class = "form-control" })
        <br />
        @Html.Label("Rolü Seçin ")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-info"> Kaydet </button>
    </div>

}


